aiodns==1.1.1
aiohttp==2.1.0
aiopg==0.13.0
async-timeout==1.2.1
bottom==2.1.0
cchardet==2.1.0
chardet==3.0.4
croniter==0.3.17
http://git.io/vUS0t  # Skippy
multidict==2.1.6
psycopg2==2.7.1
pycares==2.1.1
python-dateutil==2.6.0
pytz==2017.2
simplex==0.1.2
six==1.10.0
yarl==0.10.2
